*{
    text-align: center;
}
header{
    border: 2px solid black;
    
}
.content{
    border: 2px solid red;
    display: flex;
}
footer{
    border: 2px solid green;
}

.article{
    border: 1px solid goldenrod;
}

.aside_1{
    border: 1px solid orchid;
}
.aside_2{
    border: 1px solid blue;
}

aside{
    flex-grow: 2
    ;
}

