body{
    background-color: #909497;
}
.container{
    display: flex;
    width: 50vw;
    height: 90vh;
    flex-direction: column;
   
    background: #fff;
}
.box{
    height: 100px;
    width: 200px;
    
    
}
.one{
    background-color: yellow;
    height: ;
    flex-grow: 0;
    min-height: 50px;
    /* flex-shrink: 8; */
}
.two{
    background-color:pink;
    /* flex-grow: 1; */
    
}
.three{
    background-color: green;
    /* flex-grow: 1; */
    
}