.container{
    display: flex;
    justify-content: space-between;
    width: 900px;
    margin: 35px auto;
    
}
.logo{
    height: 81px;
    width: 101px;
    border: 1px solid black;
    border-radius: 5px;
}
figure{
    margin-right: 15px;
}

.wrapper{
    /* border: 1px red solid; */       
    display: flex;
    height: 125px;
    margin-top: 6px;
    flex-direction: column;
    min-width: 338px;
    
     
}
.botones{
    display: flex;
    justify-content: space-between;
    width: auto;
    /* border: 1px solid green; */
}

.reservar{
    border: 1px solid black;
    height: 25px;
    border-radius: 5px;
    width: 150px;
    text-align: center;
}

.presupuesto{
    border: 1px solid black;
    height: 25px;
    border-radius: 5px;
    width: 150px;
    text-align: center;
    
}
.info{
    line-height: 0;
    height: 60px;

}
.bot{
    margin:4px;
}
.wrapper_left{
    display: flex;
}
.wrapper_right{
    align-items: center;
    flex-direction: row;
    display: flex;
    height: 107px;
}


.score{
    height: 25px;
    width: 35px;
    border: burlywood 1px solid;
    border-radius: 5px;
}
.star{
    height: 25px;
    width: 35px;
    margin-top: 20px;
    border: burlywood 1px solid;
    border-radius: 5px;
}

.right{
    display: flex;
    flex-direction: column;
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    margin-top: 20px;
}

.valoraciones,.coments{
    margin: 0 20px;
}