body {
  background-color: #eaeded;
}

nav {
  margin: 0;
}
ul {
  background-color: #27ae60;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
p{
  text-align: justify;
}

main {
  background-color: yellow;
  display: flex;
  flex-direction: column;
}
h2 {
  margin-top: 0;
}
footer {
  background-color: #797d7f;
  margin: 0;
}

.img_wrapper {
  height: 70px;
  width: 70%;
  background-color: orange;
  display: none;
}

@media screen and (min-width: 480px) and (max-width: 1000px) {
  .wrapper {
    display: flex;
  }
  main {
    width: 70%;
  }
  nav {
    flex-grow: 1;
    margin-right: 10%;
  }
  footer {
    width: 70%;
    margin-left: 30%;
  }
  .main_info{
    display: flex;
    align-items: center;
    
  }
  .img_wrapper{
    display: flex;
    height: 150px;
  }
  
}
  .main_info p{
    width: 90%;
    margin-right: 10px;
    text-align: justify;
  }



@media screen and (min-width:1001px){
  .main_container{
    display: flex;
    flex-direction: row;
    
  }
  .wrapper{
    display: flex;
  }
  nav{
    width: 10%;
  }
  main{
    width: 80%;
    margin: auto;
  }
  .img_wrapper{
    display: flex;
    width: 40%;
    height: 300px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .main_info p{
    width: 60%;
  }

  .main_info{
    display: flex;
    align-items: center;
  }
  footer{
    height: 20%;
  }

}
