body{
    
    width: 100vw;
    height: 100vh;
    
}

body:hover .box{
    top:50%;
    transition: ease 2s;
}





.box{
    height: 100px;
    width: 200px;
    border: 3px solid gray;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: lightseagreen;
    font-weight: bold;
    font-size: 1.5rem;
    position: fixed;
    top:120%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}