.wrapper{
    width: 100vw;
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 20vh 60vh 20vh;
}


header{
    grid-column: 1/13;
    grid-row: 1/2;
    background-color: coral;
}

nav{
    grid-column: 1/4;
    grid-row: 2/3;
    background-color: aquamarine;
}

.content{
    grid-column: 4/13;
    grid-row: 2/3;
    background-color: greenyellow;

}


footer{
    grid-column: 1/13;
    grid-row: 3/4;
    background-color: mediumpurple;
}