
/* The header does not cover the container:  */

/* header{
    background-color: purple;
    position: absolute;
    top:10px;
    width: 97vw;
    height: 35px;

}
.contenedor{
    border: 2px solid red;
    position: relative;
    top:50px;
    width: 1000px;
    margin: 0 auto; */


/* The header stays fixed even scroll */

header{
    background-color: purple;
    position: fixed;
    top:10px;
    width: 97vw;
    height: 35px;

}
.contenedor{
    
    position: relative;
    top:50px;
    width: 1000px;
    margin: 0 auto; 