$blanco: #fff;
$azul: rgb(7, 71, 166);

$font_1: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$charlie_semibold:"Charlie Display_Semibold";
$charlie_regular:"Charlie Display_Regular";