.container{
    height: 100vh;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    

    flex-wrap: wrap;

}
.uno{
    background-color: red;
    
}
.dos{
    background-color: blue;
    
}
.tres{
    background-color: brown;
}
.cuatro{
    background: cornflowerblue;
}

.box{
    height: 200px;
    width: 500px;
    border: 2px solid black;
    text-align: center;
    
    
}

.uno ,.tres{
    margin-right: 20px;
}

.uno, .dos{
    margin: 10px 0 50px ;
}